{{> menu}}

<section class="section columns is-vcentered">
  <div class="column has-text-centered">
    <div class="title">
      {{county.name}}
    </div>
    {{> list-universities}}
    {{> add-university}}
  </div>
  <div class="column">
    {{> county-image}}
  </div>
</section>
