<section>
    <div class="box has-text-centered">
        <span class="icon">
            <i class="fas fa-exclamation fa-2x"></i>
        </span>
        <h1 class="is-size-1 has-text-red">Page Not Found</h1>
    </div>
</section>
