{{> menu }}
<div class="box">
    <table class="table is-bordered is-fullwidth is-hoverable">
        <h1 class="is-size-2 has-text-centered">Your Details</h1>
        <thead>
        <tr>
            <th>Field</th>
            <th>Value</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td data-label="Field">First Name</td>
            <td data-label="Value">{{user.firstName}}</td>
        </tr>
        <tr>
            <td data-label="Field">Last Name</td>
            <td data-label="Value">{{user.lastName}}</td>
        </tr>
        <tr>
            <td data-label="Field">Email</td>
            <td data-label="Value">{{user.email}}</td>
        </tr>
        </tbody>
    </table>
</div>

{{>edit-user-details}}
