<form class="box" action="/county/{{county._id}}/addUniversity" method="POST">
  <label>Enter University Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter University Name" name="name">
      </div>
      <div class="field">
        <input class="input" type="number" placeholder="Enter University Latitude" name="lat">
      </div>
      <div class="field">
        <input class="input" type="number" placeholder="Enter University Longitude" name="lng">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter University Description" name="description">
      </div>
    </div>
  </div>
  <button class="button is-primary">Add University</button>
</form>
