<form action="/dashboard/addCounty" method="POST">
  <div class="field">
    <label class="label">County Name</label> <input class="input" type="text" placeholder="Enter County Name" name="name">
  </div>
  <button class="button is-link">Add County</button>
</form>
